<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!-- Propriedades da Conexao -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/amadorpro</property>
        <property name="hibernate.connection.username">amadorpro</property>
        <property name="connection.password">123456</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <!-- <property name="hbm2ddl.auto">create</property> -->  
        
        <!-- Mapeamento das Classes Dominio -->
        <mapping class="br.com.srnimbus.amadorpro.dominio.Endereco" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.LocalPelada" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.Login" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.Pelada" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.Perfil" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.PlanoPagamento" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.Telefone" />
        <mapping class="br.com.srnimbus.amadorpro.dominio.Usuario" />
        
    </session-factory>
</hibernate-configuration>
